$colors: (
  primary: #4338ca,
  primaryLight: #ede8fc,
  primaryDark: #2c26a3,
  white: #ffffff,
  errorBg: #ffccc7,
  error: #d9363e,
  successBg: #cdf1cb,
  success: #009c12,
);

$header: (
  height: 6rem,
);

$padding: (
  x: 8rem,
  y: 2rem,
  mediumX: 4.5rem,
  mediumY: 2rem,
  littleX: 3rem,
  littleY: 2rem,
);

$borderRadius: (
  m: 10px,
  full: 999px,
);
